h2 {
  color: blue;
}

p {
  background-color: red;
}

.smallHeadline {
  background-color: salmon;
  color: white;
}

.flexBoxExample {
  display: flex;
  justify-content: space-evenly;
  background-color: aqua;
}
